
.card {
  max-width: 400px;
  margin: 16px;

  mat-card-title-group {
    min-height: 200px;

    .title {
      padding-right: 10px;
    }

    .subtitle {

      display: -webkit-box;
      max-width: 200px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding-top: 20px;
      padding-right: 10px;
    }
  }

  mat-card-actions {
    .left {
      display: inline-block;
    }
    .right {
      display: inline-block;
      margin-right: 0;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}