<mat-card class="card">
    <mat-card-title-group>
        <mat-card-title class="title">{{book.title}}</mat-card-title>
        <mat-card-subtitle class="subtitle">{{book.synopsis}}</mat-card-subtitle>
        <img mat-card-lg-image src="{{book.cover}}">
    </mat-card-title-group>
    <mat-card-actions>
        <div class="left">
            <span>Prix : {{book.price | currency:'EUR':'symbol' }}</span>
        </div>
        <div class="right">
            <button mat-icon-button color="primary" attr.aria-label="Ajouter au panier le livre {{book.title}}" (click)="addButton(book)">
                <mat-icon>add</mat-icon>
            </button>
            <span *ngIf="(bookQuantityInBasket | async); else zeroQuantity">{{bookQuantityInBasket | async}}</span>
            <ng-template #zeroQuantity>&nbsp;</ng-template>
            <button mat-icon-button color="primary" attr.aria-label="Supprimer du panier le livre {{book.title}}" (click)="removeButton(book)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>