<div class="header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span routerLink="/home">Ze Henri Poter Shop!</span>
            <span class="example-spacer"></span>
            <mat-icon [matBadge]="itemsNumber$ | async" matBadgeColor="warn" routerLink="/basket">shopping_basket</mat-icon>
            <!-- Accessibilité pour les lecteurs d'écran -->
            <span class="cdk-visually-hidden">
                Aller au panier
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>